/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background-size: contain;
}
